
.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:200px 200px 200px 200px 200px 200px ;

}


@media screen and (max-width: 786px) {
  .parent {
display:block;
  }
  body {
    background-color: hsl(249, 40%, 67%);
padding:10px;
  }
 }

@media screen and (max-width:576px){
    .parent {
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }

    body{
        background-color:hsl(249, 40%, 67%);
    }
    .item {
        padding: 20px;
        margin:15px;
        text-align: center;
        border-right: 0px solid black;

    }

}


.item {
    padding: 20px;
    text-align: left;
    border-right: 2px solid black;

}

#logo {
    grid-column:1/2;
    grid-row:1/3;
    background-color: hsl(289, 31%, 94%);

}


#nav , #persInfo{
    grid-column:1/2;
    background-color: hsl(289, 31%, 94%);


}

#persInfo {

    grid-row:3/4;

}
#nav{
    grid-row:4/7;

}


#header {
    grid-column:2/3;
    grid-row:1/3;
    text-decoration: overline;
    text-transform: uppercase;
    font-size:60px;
    color: white;
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px pink;
    text-align: center;
    border-bottom: 2px solid black;
    padding:5%;
    background-color: hsl(289, 31%, 94%);
}

h1{
    font-size: 60px;

}

#course,
#project ,#edu {
    grid-column:2/3;
    border-right: 1px solid black;
    font-size: 20px;


}

#edu{
    grid-row:3/4;

}
h5{
    text-transform: uppercase;
    font-size: 30px;


}
p{
    font-size: 20px;

}

a:link {
    color: hsl(228, 67%, 47%);
}


a:visited {
    color: hsl(148, 69%, 32%);
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

